Repository openshift/multiarch-tuning-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

multiarch-tuning-operator-bundle-on-pull-request:
  params:
  - name: artifact-type
    value: operatorbundle
  - name: dockerfile
    value: bundle.konflux.Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
  ...

multiarch-tuning-operator-bundle-on-push:
  params:
  - name: artifact-type
    value: operatorbundle
  - name: dockerfile
    value: bundle.konflux.Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
  ...

multiarch-tuning-operator-on-pull-request:
  params:
  - name: dockerfile
    value: konflux.Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/redhat-user-workloads/multiarch-tuning-ope-tenant/multiarch-tuning-operator/multiarch-tuning-operator:on-pr-{{revision}}
  ...

multiarch-tuning-operator-on-push:
  params:
  - name: dockerfile
    value: konflux.Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/multiarch-tuning-ope-tenant/multiarch-tuning-operator/multiarch-tuning-operator:{{revision}}
  - name: path-context
    value: .
  - name: revision
  ...

Add scaffolding for eBPF tracepoint to detect ENOEXEC errors in pods
  controllers/enoexecevent/daemon/daemon.go
  controllers/enoexecevent/daemon/internal/storage/storage.go
  controllers/enoexecevent/daemon/internal/tracepoint/tracepoint.go
  controllers/enoexecevent/daemon/internal/tracepoint/tracepoint_helpers.go
  controllers/enoexecevent/daemon/internal/tracepoint/tracepoint_program.go
  go.mod
  go.sum
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

Refactor objects.go
  controllers/operator/objects.go
  controllers/operator/podplacement_objects.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

Update Konflux references
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

chore(deps): update konflux references
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

chore(deps): update konflux references to e7985ea
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

Implement eBPF program
  controllers/enoexecevent/daemon/daemon.go
  controllers/enoexecevent/daemon/internal/tracepoint/tracepoint.go
  controllers/enoexecevent/daemon/internal/tracepoint/tracepoint_helpers.go
  controllers/enoexecevent/daemon/internal/tracepoint/tracepoint_program.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

Fix endianess and forward command name
  controllers/enoexecevent/daemon/internal/tracepoint/tracepoint.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

Fix ShouldStdErr
  controllers/enoexecevent/daemon/internal/storage/k8s_enoexecevent.go
  controllers/enoexecevent/daemon/internal/tracepoint/tracepoint.go
  controllers/enoexecevent/daemon/internal/tracepoint/tracepoint_helpers.go
  pkg/utils/utils.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

Remove command retrieval from task_struct in the eBPF program
  controllers/enoexecevent/daemon/daemon.go
  controllers/enoexecevent/daemon/internal/tracepoint/tracepoint.go
  controllers/enoexecevent/daemon/internal/tracepoint/tracepoint_helpers.go
  controllers/enoexecevent/daemon/internal/tracepoint/tracepoint_program.go
  controllers/enoexecevent/daemon/internal/types/event.go
  docs/enhancements/MTO-0004-enoexec-monitoring.md
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

Minor fixes
  controllers/enoexecevent/daemon/daemon.go
  controllers/enoexecevent/daemon/internal/tracepoint/tracepoint.go
  controllers/enoexecevent/daemon/internal/tracepoint/tracepoint_program.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

Use uint8 for bitwise computation of found members in the kernel's task struct
  controllers/enoexecevent/daemon/internal/tracepoint/tracepoint_helpers.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

MULTIARCH-5345: Add missing e2e tests
  pkg/e2e/operator/pod_placement_config_test.go
  pkg/e2e/podplacement/pod_placement_test.go
  pkg/testing/framework/namespace.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

MULTIARCH-5602 Update validation rules for the node name in the status of an ENoExecEvent fail to validate OCP node names to include periods (.)
  apis/multiarch/v1beta1/enoexecevent_types.go
  bundle/manifests/multiarch.openshift.io_enoexecevents.yaml
  config/crd/bases/multiarch.openshift.io_enoexecevents.yaml
  controllers/enoexecevent/handler/enoexecevent_controller_test.go
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

MULTIARCH-5365: Implement local PodPlacementConfig API
  apis/multiarch/common/plugins/base_plugin.go
  apis/multiarch/common/plugins/zz_generated.deepcopy.go
  apis/multiarch/v1beta1/clusterpodplacementconfig_webhook.go
  apis/multiarch/v1beta1/podplacementconfig_types.go
  apis/multiarch/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  bundle/manifests/multiarch.openshift.io_podplacementconfigs.yaml
  config/crd/bases/multiarch.openshift.io_podplacementconfigs.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_multiarch_podplacementconfigs.yaml
  config/crd/patches/webhook_in_multiarch_podplacementconfigs.yaml
  config/manifests/bases/multiarch-tuning-operator.clusterserviceversion.yaml
  config/rbac/multiarch_podplacementconfig_editor_role.yaml
  config/rbac/multiarch_podplacementconfig_viewer_role.yaml
  controllers/podplacementconfig/constant.go
  controllers/podplacementconfig/podplacementconfig_controller_test.go
  controllers/podplacementconfig/suite_test.go
  pkg/testing/builder/podplacementconfig.go
  pkg/testing/framework/suites_utils.go
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

Bugfix: Prevent panic on partially configured plugins
  controllers/podplacement/pod_model.go
  controllers/podplacement/pod_reconciler.go
  controllers/podplacement/scheduling_gate_mutating_webhook.go
  pkg/e2e/operator/pod_placement_config_test.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

MULTIARCH-5365: Implement local PodPlacementConfig API status
  apis/multiarch/v1beta1/podplacementconfig_types.go
  apis/multiarch/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  bundle/manifests/multiarch.openshift.io_podplacementconfigs.yaml
  config/crd/bases/multiarch.openshift.io_podplacementconfigs.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

MULTIARCH-5594: Fix endianess detection
  controllers/enoexecevent/daemon/internal/tracepoint/tracepoint.go
  controllers/enoexecevent/daemon/internal/tracepoint/tracepoint_helpers.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

tekton: add bundle postsubmit
  .tekton/run-prowjob-bundle-postsubmit.yaml
  .tekton/run-prowjob-bundle.yaml
  .tekton/run-prowjob.yaml
  deploy/envs/prow-konflux-bundle/kustomization.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

Fix the logging setup
  cmd/enoexec-daemon/main.go
Due: none

Fix the event message
  pkg/utils/const.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

MULTIARCH-5421: Add testing for lifecycle of eNoExecEvent
  pkg/e2e/operator/pod_placement_config_test.go
  pkg/testing/builder/pod_spec.go
  pkg/testing/framework/cluster_pod_placement_config.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

MULTIARCH-5421: enable ENoExecEvent controller
  apis/multiarch/v1beta1/groupversion_info.go
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  cmd/main-binary/main.go
  config/rbac/role.yaml
  controllers/operator/clusterpodplacementconfig_controller.go
  pkg/utils/const.go
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

MULTIARCH-5421: Add deamon set to apply resource
  pkg/utils/resource.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

MULTIARCH-5421: create deployment and daemonset for ENoExecEvent
  controllers/operator/clusterpodplacementconfig_controller.go
  controllers/operator/enoexecevent_objects.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

Refactor: Add generic PluginEnabled helper method
  apis/multiarch/common/const.go
  apis/multiarch/common/plugins/base_plugin.go
  apis/multiarch/v1beta1/clusterpodplacementconfig_types.go
  controllers/operator/clusterpodplacementconfig_controller.go
  controllers/podplacement/pod_model.go
  controllers/podplacement/pod_reconciler.go
  controllers/podplacement/scheduling_gate_mutating_webhook.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

add validate webhook for local podplacementconfig priority
  apis/multiarch/common/plugins/base_plugin.go
  apis/multiarch/common/plugins/nodeaffinityscoring_plugin.go
  apis/multiarch/v1beta1/podplacementconfig_types.go
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  cmd/main-binary/main.go
  config/rbac/role.yaml
  config/webhook/kustomization.yaml
  config/webhook/manifests.yaml
  controllers/podplacementconfig/podplacementconfig_controller.go
  controllers/podplacementconfig/podplacementconfig_controller_test.go
  controllers/podplacementconfig/podplacementconfig_webhook.go
  controllers/podplacementconfig/suite_test.go
  pkg/e2e/podplacementconfig/e2e_test.go
  pkg/e2e/podplacementconfig/pod_placement_config_test.go
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

MULTIARCH-5604: Custom columns for oc get enoexecevent
  apis/multiarch/v1beta1/enoexecevent_types.go
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  bundle/manifests/multiarch.openshift.io_enoexecevents.yaml
  config/crd/bases/multiarch.openshift.io_enoexecevents.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

MULTIARCH-5584: Support image references with both tag and digest
  pkg/e2e/const.go
  pkg/e2e/podplacement/pod_placement_test.go
  pkg/image/inspector.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

MULTIARCH-5605: Add finalizer to the ENoExecEvent Deployment to prevent deletion when ENoExecEvent CRs are present in operator namespace
  controllers/operator/clusterpodplacementconfig_controller.go
  pkg/utils/const.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

Fix(enoexec): Properly requeue failed reconciles
  controllers/enoexecevent/handler/enoexecevent_controller.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

MULTIARCH-5605: Add tests for finalizers when execFormatErrorMonitor is enabled
  controllers/operator/clusterpodplacementconfig_controller_test.go
  pkg/e2e/operator/pod_placement_config_test.go
  pkg/testing/framework/cluster_pod_placement_config.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

Export the name of the ExecFormatError monitor
  apis/multiarch/common/plugins/execFormatErrorMonitor_plugin.go
  apis/multiarch/common/plugins/plugins_test.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

MULTIARCH-5418: Metrics definition for ENoExec Handler
  controllers/enoexecevent/handler/enoexecevent_controller.go
  controllers/enoexecevent/handler/metrics/metrics.go
  docs/metrics.md
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

Move CPPC availability Alert Rules to podplacement_objects.go
  controllers/operator/clusterpodplacementconfig_controller.go
  controllers/operator/objects.go
  controllers/operator/podplacement_objects.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

MULTIARCH-5418: Prometheus objects lifecycle
  controllers/operator/clusterpodplacementconfig_controller.go
  controllers/operator/enoexecevent_objects.go
  docs/alerts/enoexec-alert.md
  docs/alerts/enoexec-event-daemon-down.md
  docs/alerts/enoexec-event-handler-down.md
  pkg/utils/const.go
Due: multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

Update version to 1.2.0
  Dockerfile
  Makefile
  bundle.Dockerfile
  bundle.konflux.Dockerfile
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  config/manifests/bases/multiarch-tuning-operator.clusterserviceversion.yaml
  deploy/base/operators.coreos.com/subscriptions/openshift-multiarch-tuning-operator/subscription.yaml
  konflux.Dockerfile
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

Revert "add validate webhook for local podplacementconfig priority"
  apis/multiarch/common/plugins/base_plugin.go
  apis/multiarch/common/plugins/nodeaffinityscoring_plugin.go
  apis/multiarch/v1beta1/podplacementconfig_types.go
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  cmd/main-binary/main.go
  config/rbac/role.yaml
  config/webhook/kustomization.yaml
  config/webhook/manifests.yaml
  controllers/podplacementconfig/podplacementconfig_controller.go
  controllers/podplacementconfig/podplacementconfig_controller_test.go
  controllers/podplacementconfig/podplacementconfig_webhook.go
  controllers/podplacementconfig/suite_test.go
  pkg/e2e/podplacementconfig/e2e_test.go
  pkg/e2e/podplacementconfig/pod_placement_config_test.go
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

Revert "MULTIARCH-5365: Implement local PodPlacementConfig API status"
  apis/multiarch/v1beta1/podplacementconfig_types.go
  apis/multiarch/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/multiarch.openshift.io_podplacementconfigs.yaml
  config/crd/bases/multiarch.openshift.io_podplacementconfigs.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request, multiarch-tuning-operator-on-push

Path conditions:
  multiarch-tuning-operator-bundle-on-pull-request: (((any of: bundle/***) or (any of: .tekton/***)) or (any of: bundle.konflux.Dockerfile)) or (any of: trigger-konflux-builds.txt)
  multiarch-tuning-operator-bundle-on-push: (((any of: bundle/***) or (any of: .tekton/***)) or (any of: bundle.konflux.Dockerfile)) or (any of: trigger-konflux-builds.txt)
  multiarch-tuning-operator-on-pull-request: (((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: pkg/***)) or (any of: test/***)) or (any of: konflux.Dockerfile)) or (any of: go.mod)) or (any of: main.go)) or (any of: go.sum)) or (any of: trigger-konflux-builds.txt)
  multiarch-tuning-operator-on-push: (((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: pkg/***)) or (any of: test/***)) or (any of: konflux.Dockerfile)) or (any of: go.mod)) or (any of: main.go)) or (any of: go.sum)) or (any of: trigger-konflux-builds.txt)
