Repository openshift/multiarch-tuning-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Path conditions:
  multiarch-tuning-operator-bundle-on-pull-request: (((any of: bundle/***) or (any of: .tekton/***)) or (any of: bundle.konflux.Dockerfile)) or (any of: trigger-konflux-builds.txt)
  multiarch-tuning-operator-bundle-on-push: (((any of: bundle/***) or (any of: .tekton/***)) or (any of: bundle.konflux.Dockerfile)) or (any of: trigger-konflux-builds.txt)
  rapidast-integration-test: (((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: pkg/***)) or (any of: test/***)) or (any of: konflux.Dockerfile)) or (any of: go.mod)) or (any of: main.go)) or (any of: go.sum)) or (any of: trigger-konflux-builds.txt)

Remove devel tag to fix the follwing error packaging.version.InvalidVersion: Invalid version: 'devel'
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Switch back to pipeline
  .tekton/rapidast-integration-tests.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Putback SNAPSHOT
  .tekton/rapidast-integration-tests.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Changed to pipelinerun
  .tekton/rapidast-integration-tests.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Clean up
  .tekton/rapidast-integration-tests.yaml
  .tekton/rapidast-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

fix tags
  .tekton/rapidast-integration-tests.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Fixes
  .tekton/rapidast-integration-tests.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

rename pipeline
  .tekton/rapidast-integration-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

add back revision
  .tekton/rapidast-integration-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Swap out deploy app test
  .tekton/rapidast-integration-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Use different pipeline https://github.com/jenculltesting/rh-trex-test/blob/main/.tekton/rapidast-scan.yaml
  .tekton/rapidast-integration-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Update deplopy-app to use operator-sdk
  .tekton/rapidast-integration-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Add pipeline
  .tekton/rapidast-integration-tests.yaml
  .tekton/rapidast-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Update deplopy-app to install jq
  .tekton/rapidast-integration-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

update prams
  .tekton/rapidast-integration-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Enable rapiDAST
  .tekton/rapidast-check.yaml
  .tekton/rapidast-integration-tests.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

trying to fix revision
  .tekton/rapidast-integration-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Fix deploy-app
  .tekton/rapidast-integration-tests.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

remove extra file
  .tekton/rapidast-check.yaml
  .tekton/rapidast-integration-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

MULTIARCH-5537: Fix kustomization catalog image to use Prow-built image for downstream main branch
  deploy/envs/prow/kustomization.yaml
Due: none

MULTIARCH-5537: Fix kustomization catalog image to use Prow-built image for downstream main v1.x
  deploy/envs/prow/kustomization.yaml
Due: none

MULTIARCH-5767: expand testing image processing when port is present.
  pkg/e2e/const.go
  pkg/e2e/podplacement/pod_placement_test.go
Due: rapidast-integration-test

MULTIARCH-5767: Fix image processing when port is present
  pkg/image/inspector.go
Due: rapidast-integration-test

Updated release steps
  docs/ocp-release.md
Due: none

MULTIARCH-5767: add more rigorous validation for pod images.
  pkg/image/inspector.go
  pkg/image/inspector_test.go
Due: rapidast-integration-test

Enhance bump-version.sh to accept version as argument
  hack/bump-version.sh
Due: none

Bump version to v1.2.1
  Dockerfile
  Makefile
  bundle.konflux.Dockerfile
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  config/manifests/bases/multiarch-tuning-operator.clusterserviceversion.yaml
  deploy/base/operators.coreos.com/subscriptions/openshift-multiarch-tuning-operator/subscription.yaml
  index.base.yaml
  konflux.Dockerfile
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Adding bundle.Dockerfile changes
  bundle.Dockerfile
  hack/bump-version.sh
  hack/patch-bundle-dockerfile.sh
Due: none

chore(deps): update konflux references
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Konflux build pipeline service account migration
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Adding bundle.Dockerfile changes
  bundle.Dockerfile
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  hack/bump-version.sh
  hack/patch-bundle-dockerfile.sh
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push

Konflux update api version from v1beta1 -> v1
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
  .tekton/run-prowjob-bundle.yaml
  .tekton/run-prowjob.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Konflux build pipeline service account migration
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Konflux apiversion migration v1beta1-v1
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
  .tekton/run-prowjob-bundle.yaml
  .tekton/run-prowjob.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test

Fix tekton kind
  .tekton/multiarch-tuning-operator-pull-request.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, rapidast-integration-test
