Repository openshift/multiarch-tuning-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

Path conditions:
  multiarch-tuning-operator-bundle-on-pull-request: (((any of: bundle/***) or (any of: .tekton/***)) or (any of: bundle.konflux.Dockerfile)) or (any of: trigger-konflux-builds.txt)
  multiarch-tuning-operator-bundle-on-push: (((any of: bundle/***) or (any of: .tekton/***)) or (any of: bundle.konflux.Dockerfile)) or (any of: trigger-konflux-builds.txt)
  multiarch-tuning-operator-on-pull-request: (((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: pkg/***)) or (any of: test/***)) or (any of: konflux.Dockerfile)) or (any of: go.mod)) or (any of: main.go)) or (any of: go.sum)) or (any of: trigger-konflux-builds.txt)

chore(deps): update konflux references to fde3131
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

chore(deps): update konflux references
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

Update Konflux references
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

Remove the DoesNotExist example from the ClusterServiceVersion
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  config/samples/kustomization.yaml
  config/samples/multiarch_v1beta1_enoexecevent.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push

Since the reconciler for ENoExecEvent is not yet implemented, this code is being removed for now.
  main.go
Due: multiarch-tuning-operator-on-pull-request

Add validation and tests for ENoExecEventStatus fields
  apis/multiarch/v1beta1/enoexecevent_types.go
  bundle/manifests/multiarch.openshift.io_enoexecevents.yaml
  config/crd/bases/multiarch.openshift.io_enoexecevents.yaml
  controllers/enoexecevent/enoexecevent_controller_test.go
  controllers/enoexecevent/suite_test.go
  pkg/testing/builder/enoexecevent.go
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

Remove wrong annotation - was previously unused as it had a typo
  apis/multiarch/common/plugins/base_plugin.go
Due: multiarch-tuning-operator-on-pull-request

automated checking snapshot images
  Makefile
  docs/ocp-release.md
  hack/check-snapshots.sh
Due: none

automated changes to index.yaml
  Makefile
  hack/build-indexs.sh
  hack/update-graph.sh
Due: none

Implement ContainerNameFor in the pod model
  pkg/models/pod.go
  pkg/models/pod_test.go
Due: multiarch-tuning-operator-on-pull-request

Minor fix in the pod placement controller
  controllers/podplacement/pod_reconciler.go
Due: multiarch-tuning-operator-on-pull-request

MULTIARCH-5417: implement enoexec events reconciler
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/enoexecevent/enoexecevent_controller.go
  controllers/enoexecevent/enoexecevent_controller_test.go
  controllers/enoexecevent/suite_test.go
  main.go
  pkg/models/pod.go
  pkg/testing/builder/container_status.go
  pkg/testing/builder/node.go
  pkg/testing/builder/pod.go
  pkg/testing/framework/events.go
  pkg/testing/framework/utils.go
  pkg/utils/const.go
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

Add e2e test for cache clearing
  pkg/e2e/podplacement/e2e_test.go
  pkg/e2e/podplacement/pod_placement_test.go
  pkg/image/cache.go
Due: multiarch-tuning-operator-on-pull-request

MULTIARCH-5416: Added ENoExecEvent plugin to CPPC Commands used: controller-gen object paths="./apis/..." make manifests generate bundle
  apis/multiarch/common/plugins/base_plugin.go
  apis/multiarch/common/plugins/execFormatErrorMonitor_plugin.go
  apis/multiarch/common/plugins/zz_generated.deepcopy.go
  bundle/manifests/multiarch.openshift.io_clusterpodplacementconfigs.yaml
  config/crd/bases/multiarch.openshift.io_clusterpodplacementconfigs.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

MULTIARCH-5416: Add ExecFormatErrorMonitor plugin tests
  apis/multiarch/common/plugins/plugins_test.go
  pkg/e2e/operator/pod_placement_config_test.go
  pkg/testing/builder/clusterpodplacementconfig.go
Due: multiarch-tuning-operator-on-pull-request

makefile: ensure generate target runs go fmt to avoid import diffs
  Makefile
Due: none

test
  .tekton/run-prowjob-bundle.yaml
  .tekton/run-prowjob.yaml
  deploy/envs/prow-konflux-bundle/kustomization.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

Fix channel metadata information in the bundle images
  Makefile
  bundle.Dockerfile
  bundle.konflux.Dockerfile
  bundle/metadata/annotations.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push

chore(deps): update konflux references to f59a8bc
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

chore(deps): update konflux references to 4a6f481
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

MULTIARCH-5546: Fix bundle image detection logic for multi-arch scheduling
  pkg/image/inspector.go
  pkg/testing/image/fake/registry/seed.go
Due: multiarch-tuning-operator-on-pull-request

Scaffolding for the enoexec-daemon
  .gitignore
  Dockerfile
  Makefile
  enoexec-daemon/go.mod
  enoexec-daemon/go.sum
  enoexec-daemon/internal/storage/storage.go
  enoexec-daemon/internal/types/event.go
  enoexec-daemon/main.go
  hack/go-mod.sh
  hack/golangci-lint.sh
  konflux.Dockerfile
Due: multiarch-tuning-operator-on-pull-request

chore(deps): update konflux references to 820f444
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

chore(deps): update konflux references to b916bc7
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

Implement Kubernetes storage for ENOEXEC events
  enoexec-daemon/go.mod
  enoexec-daemon/go.sum
  enoexec-daemon/internal/storage/k8s_enoexecevent.go
  enoexec-daemon/internal/storage/storage.go
  enoexec-daemon/internal/types/event.go
  enoexec-daemon/internal/utils/utils.go
  enoexec-daemon/main.go
Due: none

[Refactoring] Reorganize repo struct to use a single module
  Dockerfile
  Makefile
  cmd/enoexec-daemon/main.go
  cmd/main-binary/main.go
  controllers/enoexecevent/daemon/daemon.go
  controllers/enoexecevent/daemon/internal/storage/k8s_enoexecevent.go
  controllers/enoexecevent/daemon/internal/storage/storage.go
  controllers/enoexecevent/daemon/internal/types/event.go
  controllers/enoexecevent/handler/enoexecevent_controller.go
  controllers/enoexecevent/handler/enoexecevent_controller_test.go
  controllers/enoexecevent/handler/suite_test.go
  go.mod
  konflux.Dockerfile
  pkg/utils/utils.go
Due: multiarch-tuning-operator-on-pull-request

add EP for supporting MTO on non-OCP clusters
  docs/enhancements/MTO-0003-support-non-ocp-clusters.md
Due: none

add document for mto installation on crio based kind clusters
  docs/support-non-okd.md
Due: none

tekton: add bundle postsubmit and presubmit
  .tekton/run-prowjob-bundle-postsubmit.yaml
  .tekton/run-prowjob-bundle.yaml
  .tekton/run-prowjob.yaml
  deploy/envs/prow-konflux-bundle/kustomization.yaml
Due: multiarch-tuning-operator-bundle-on-pull-request, multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request
