Repository openshift/multiarch-tuning-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

Path conditions:
  multiarch-tuning-operator-bundle-on-push: (((any of: bundle/***) or (any of: .tekton/***)) or (any of: bundle.konflux.Dockerfile)) or (any of: trigger-konflux-builds.txt)
  multiarch-tuning-operator-on-push: (((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: pkg/***)) or (any of: test/***)) or (any of: konflux.Dockerfile)) or (any of: go.mod)) or (any of: main.go)) or (any of: go.sum)) or (any of: trigger-konflux-builds.txt)

add temporary workaround for hostPath mount regression in OCP 4.17/4.18
  controllers/operator/clusterpodplacementconfig_controller.go
Due: multiarch-tuning-operator-on-push

chore(deps): update konflux reference
  bundle.konflux.Dockerfile
Due: multiarch-tuning-operator-bundle-on-push

chore(deps): update konflux references to 0fa255ab6c
  bundle.konflux.Dockerfile
Due: multiarch-tuning-operator-bundle-on-push

Add configuration md file for AI agents
  CLAUDE.md
Due: none

chore(deps): update konflux references to dd337e8c12
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

automated changes to index.yaml
  Makefile
  hack/build-indexs.sh
  hack/update-graph.sh
Due: none

Added v4-20 to the fbc
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
  fbc-v4-20/catalog/multiarch-tuning-operator/index.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

chore(deps): update multiarch-tuning-operator-v1-x to a7affe2bd
  bundle.konflux.Dockerfile
Due: multiarch-tuning-operator-bundle-on-push

adding v1.2.0 using snapshot multiarch-tuning-operator-v1-x-8zttk
  fbc-v4-16/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-17/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-18/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-19/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-20/catalog/multiarch-tuning-operator/index.yaml
Due: none

Fix image to default to correct base image
  Dockerfile
Due: none

Changed BUILD_ARGS to build_args
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

chore(deps): update konflux references to d202b7bf
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

Update deplopy-app to use operator-sdk
  .tekton/rapidast-integration-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

Fixes
  .tekton/rapidast-integration-tests.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

fix tags
  .tekton/rapidast-integration-tests.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

Swap out deploy app test
  .tekton/rapidast-integration-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

update prams
  .tekton/rapidast-integration-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

Putback SNAPSHOT
  .tekton/rapidast-integration-tests.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

Add pipeline
  .tekton/rapidast-integration-tests.yaml
  .tekton/rapidast-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

add back revision
  .tekton/rapidast-integration-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

Enable rapiDAST
  .tekton/rapidast-check.yaml
  .tekton/rapidast-integration-tests.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

trying to fix revision
  .tekton/rapidast-integration-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

rename pipeline
  .tekton/rapidast-integration-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

Fix deploy-app
  .tekton/rapidast-integration-tests.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

Clean up
  .tekton/rapidast-integration-tests.yaml
  .tekton/rapidast-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

Update deplopy-app to install jq
  .tekton/rapidast-integration-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

Switch back to pipeline
  .tekton/rapidast-integration-tests.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

Use different pipeline https://github.com/jenculltesting/rh-trex-test/blob/main/.tekton/rapidast-scan.yaml
  .tekton/rapidast-integration-pipeline.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

Changed to pipelinerun
  .tekton/rapidast-integration-tests.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

chore(deps): update konflux references to 885257d
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

chore(deps): update konflux references
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push

init claud md
  CLAUDE.md
Due: none

add index Dockerfile
  index.Dockerfile
  index.base.yaml
Due: none

add index Dockerfile for v1.x branch
  index.Dockerfile
  index.base.yaml
Due: none

add index Dockerfile for downstream main branch
  index.Dockerfile
  index.base.yaml
Due: none

add index Dockerfile for downstream v1.x branch
  index.Dockerfile
  index.base.yaml
Due: none

For https://issues.redhat.com/browse/KONFLUX-6210, clair needs access to a name and cpe label that it can use to look up the image in VEX statements.
  Dockerfile
  bundle.Dockerfile
  bundle.konflux.Dockerfile
  hack/patch-bundle-dockerfile.sh
  konflux.Dockerfile
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-push
